In [1]:
import pandas as pd

In [2]:
df_2015_2016 = pd.read_html('https://fbref.com/en/comps/12/2015-2016/2015-2016-La-Liga-Stats', 
                            attrs = {"id" : "results2015-2016121_overall" })[0]

df_2016_2017 = pd.read_html('https://fbref.com/en/comps/12/2016-2017/2016-2017-La-Liga-Stats', 
                            attrs = {"id" : "results2016-2017121_overall" })[0]

df_2017_2018 = pd.read_html('https://fbref.com/en/comps/12/2017-2018/2017-2018-La-Liga-Stats', 
                            attrs = {"id" : "results2017-2018121_overall" })[0]

df_2018_2019 = pd.read_html('https://fbref.com/en/comps/12/2018-2019/2018-2019-La-Liga-Stats', 
                            attrs = {"id" : "results2018-2019121_overall" })[0]

df_2019_2020 = pd.read_html('https://fbref.com/en/comps/12/2019-2020/2019-2020-La-Liga-Stats', 
                            attrs = {"id" : "results2019-2020121_overall" })[0]

df_2020_2021 = pd.read_html('https://fbref.com/en/comps/12/2020-2021/2020-2021-La-Liga-Stats', 
                            attrs = {"id" : "results2020-2021121_overall" })[0]

df_2021_2022 = pd.read_html('https://fbref.com/en/comps/12/2021-2022/2021-2022-La-Liga-Stats', 
                            attrs = {"id" : "results2021-2022121_overall" })[0]

df_2022_2023 = pd.read_html('https://fbref.com/en/comps/12/2022-2023/2022-2023-La-Liga-Stats', 
                            attrs = {"id" : "results2022-2023121_overall" })[0]

df_2023_2024 = pd.read_html('https://fbref.com/en/comps/12/2023-2024/2023-2024-La-Liga-Stats', 
                            attrs = {"id" : "results2023-2024121_overall" })[0]

df_2024_2025 = pd.read_html('https://fbref.com/en/comps/12/2024-2025/2024-2025-La-Liga-Stats', 
                            attrs = {"id" : "results2024-2025121_overall" })[0]

df_2025_2026 = pd.read_html('https://fbref.com/en/comps/12/2025-2026/2025-2026-La-Liga-Stats', 
                            attrs = {"id" : "results2025-2026121_overall" })[0]

In [3]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [4]:

df_2024_2025.head(2)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Barcelona,38,28,4,6,102,39,63,88,2.32,91.5,41.9,49.5,1.30,45953,Robert Lewandowski - 27,Iñaki Peña,→ Champions League via league finish
1,2,Real Madrid,38,26,6,6,78,38,40,84,2.21,75.3,42.8,32.5,0.86,69807,Kylian Mbappé - 31,Thibaut Courtois,→ Champions League via league finish

In [5]:
# List of DataFrames 
dfs = [
    df_2015_2016, df_2016_2017, df_2017_2018, 
    df_2018_2019, df_2019_2020, df_2020_2021, df_2021_2022, 
    df_2022_2023, df_2023_2024, df_2024_2025, df_2025_2026
]


# Standardize column names

for df in dfs: 
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")


# Define expected columns (ensuring missing xG-related ones are included)
expected_columns = [
    "rk", "squad", "mp", "w", "d", "l", "gf", "ga", "gd", "pts", 
    "pts/mp", "attendance", "top_team_scorer", "goalkeeper", "notes",
    "xg", "xga", "xgd", "xgd/90"  # Expected goals columns missing in older data
]

# Add a season column to track the year
years = list(range(2015, 2026))
for df, year in zip(dfs, years):
    df["season"] = year

# Concatenate all seasons into one Pandas DataFrame
full_data = pd.concat(dfs, ignore_index=True)

In [6]:
print(full_data.shape)
full_data.head()

(220, 21)

,rk,squad,mp,w,d,l,gf,ga,gd,pts,pts/mp,attendance,top_team_scorer,goalkeeper,notes,season,xg,xga,xgd,xgd/90,last_5
0,1,Barcelona,38,29,4,5,112,29,83,91,2.39,74655.0,Luis Suárez - 40,Claudio Bravo,→ Champions League via league finish,2015,NaN,NaN,NaN,NaN,NaN
1,2,Real Madrid,38,28,6,4,110,34,76,90,2.37,71265.0,Cristiano Ronaldo - 35,Keylor Navas,→ Champions League via Champions League win,2015,NaN,NaN,NaN,NaN,NaN
2,3,Atlético Madrid,38,28,4,6,63,18,45,88,2.32,46902.0,Antoine Griezmann - 22,Jan Oblak,→ Champions League via league finish,2015,NaN,NaN,NaN,NaN,NaN
3,4,Villarreal,38,18,10,10,44,35,9,64,1.68,17660.0,Cédric Bakambu - 12,Alphonse Areola,→ Champions League via league finish,2015,NaN,NaN,NaN,NaN,NaN
4,5,Athletic Club,38,18,8,12,58,45,13,62,1.63,41917.0,Aritz Aduriz - 20,Gorka Iraizoz,→ Europa League via league finish,2015,NaN,NaN,NaN,NaN,NaN

In [9]:
full_data.to_csv("la_liga_data_2014_2025.csv", index=False)
print("Data saved successfully!")

Data saved successfully!